@model Cuidados.Caninos.Marcos.Montiel.Models.ComPersona

@{
    ViewData["Title"] = "Agregar";
}

<div class="contenedor-formulario">
    <div class="titulo">         <h2 class="titulo2">Persona</h2>     </div>
    <div class="wrap">
        <form asp-action="Create" class="formulario" name="formulario_registro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="input-group">                     <div class="col-lg-6">                         <input asp-for="Nombre" class="form-control" type="text" id="Nombre" />                         <label asp-for="Nombre" class="control-label label"></label>                     </div>                        <div class="col-lg-6">                         <input asp-for="APaterno" class="form-control" type="text" id="APaterno" />                         <label asp-for="APaterno" class="control-label label"></label>                     </div>                                  </div>
            </div>
            <div class="input-group">                 <div class="col-lg-6">                     <input asp-for="AMaterno" class="form-control" type="text" id="AMaterno" />                     <label asp-for="AMaterno" class="control-label label"></label>                 </div>                 <div class="col-lg-6">                     <select id="drop" asp-for="FKComCatSexo" class="form-control" asp-items="ViewBag.FKComCatSexo">                         <option value="0"></option>                     </select>                     <label asp-for="FKComCatSexo" class="control-label label">Género</label>                 </div>             </div>
            <div class="input-group">                 <div class="col-lg-6">                     <input asp-for="FechaNac" class="form-control" type="date" id="FechaNac" />                     <label asp-for="FechaNac" class="control-label label"></label>                 </div>                 <div class="col-lg-6">                     <input asp-for="Curp" class="form-control" type="text" id="Curp" />                     <label asp-for="Curp" class="control-label label"></label>                 </div>             </div>
            <div class="input-group">                 <div class="col-lg-6">                     <select id="drop" asp-for="FKComCatEscolaridad" class="form-control" asp-items="ViewBag.FKComCatEscolaridad">                         <option value="0"></option>                     </select>                     <label asp-for="FKComCatEscolaridad" class="control-label label">Escolaridad</label>                 </div>             </div>
            <div class="form-group">                 <button type="submit" class="btn btn-default aceptar"><i class="fas fa-save"></i> Guardar</button>                 <a asp-action="Index" class="btn btn-default cancelar"><i class="fas fa-times"></i> Cancelar</a>             </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}