* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #ECF0F1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 55px;
}

.contenedor-formulario {
    margin-top: 30px;
    padding: 1px 20px 20px 20px;
    width: 100%;
    background: white;
    -webkit-box-shadow: 0px 0px 6px grey;
    box-shadow: 0px 0px 6px grey;
}

.titulo {
    width: 100%;
    max-width: 1600px;
    border-bottom: 3px solid #009432;
}

.titulo .titulo2 {
    font-weight: bold;
}

.wrap {
    width: 100%;
    padding-top: 20px;
}

.wrap .form-group {
    position: relative;
    margin-left: 15px;
}

.wrap .form-group .agregar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px 8px 5px 8px;
    border: 3px solid #566473;
    color: #566473;
    border-radius: 6px;
    font-weight: bold;
    -webkit-transition: .3s;
    transition: .3s;
    margin-left: 10px;
}

.wrap .form-group .agregar:hover {
    background: white;
}

.wrap .form-group .search-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 0px 30px;
    padding: 5px 8px 5px 15px;
    width: 270px;
    border: 0;
    outline: 0;
    background: none;
    border-bottom: 3px solid #566473;
}

.wrap .form-group .buscar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px 8px 5px 8px;
    border: 3px solid #566473;
    color: #566473;
    border-radius: 6px;
    font-weight: bold;
    -webkit-transition: .3s;
    transition: .3s;
    margin-left: 10px;
}

.wrap .form-group .buscar:hover {
    background: white;
}

.wrap .form-group .limpiar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px 8px 5px 8px;
    border: 3px solid #566473;
    color: #566473;
    border-radius: 6px;
    font-weight: bold;
    -webkit-transition: .3s;
    transition: .3s;
    margin-left: 5px;
}

.wrap .form-group .limpiar:hover {
    background: white;
    color: #566473;
}

.wrap .table-design {
    position: relative;
    margin: 0px 15px 0px 15px;
}

.wrap .table-design table {
    width: 100%;
}

.wrap .table-design table .table-head {
    background: #009432;
}

.wrap .table-design table .table-head tr th {
    padding: 12px 0px 10px 15px;
    width: 20%;
    color: white;
}

.wrap .table-design table .table-head tr th a {
    color: white;
    text-decoration: none;
}

.wrap .table-design table .table-body {
    border-bottom: 2px solid #95afc0;
}

.wrap .table-design table .table-body td {
    padding: 10px 0px 8px 15px;
    width: 20%;
}

.wrap .table-design table .table-body td .detalle {
    border: 2px solid #3867d6;
    margin: 10px 15px 10px 10px;
    padding: 5px;
    border-radius: 50%;
    color: #3867d6;
}

.wrap .table-design table .table-body td .detalle:hover {
    background: #3867d6;
    color: white;
}

.wrap .table-design table .table-body td .editar {
    border: 2px solid #009432;
    margin: 10px 15px 10px 10px;
    padding: 5px;
    border-radius: 50%;
    color: #009432;
}

.wrap .table-design table .table-body td .editar:hover {
    background: #009432;
    color: white;
}

.wrap .table-design table .table-body td .eliminar {
    border: 2px solid #EB2F06;
    margin: 10px 15px 10px 10px;
    padding: 5px 7px 5px 7px;
    border-radius: 50%;
    color: #EB2F06;
}

.wrap .table-design table .table-body td .eliminar:hover {
    background: #EB2F06;
    color: white;
}